tests/Log.It.Tests/bin/
src/Log.It/obj/
tests/Log.It.Tests/obj/
!tools/**
packages/
.vs/
Log.It.v3.ncrunchsolution
src/Log.It/bin/
src/Log.It/Properties/PublishProfiles/
_NCrunch_Log.It/
Log.It.v3.ncrunchsolution.user
